<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>birb.technology - Bird Image API</title>

        <link rel="stylesheet" href="static/style.css">

    </head>

    <body>

        <div class="content">

            <h1>birb.technology</h1>

            <img id="bird_image"><br>
            <a id="source">Source</a><br>
            <a id="creator">Creator</a><br>
            Collection: <span id="collection"></span><br>

            <button id="new_image">New Image</button>
            
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="static/script.js"></script>

    </body>

</html>